{{extends "base.html"}}

{{define "content"}}
<div class="grid place-items-center sm:py-0">
    <div class="space-y-2">
        <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold tracking-tight text-center">Workout Notepad</h1>
        <p class="text-center text-md md:text-2xl text-txt-200">The Gym Notebook Replacement. Download Today</p>
        {{template "download-buttons.html"}}
        <div class="grid place-items-center pt-8">
            <img src="/public/images/wn-graphic.png" alt="Workout Notepad Graphic"
                class="object-scale-down max-h-[50vh]" />
        </div>
    </div>
</div>
{{end}}