{{extends "base.html"}}

{{define "head"}}
<title>W. Notepad - Support</title>

<style>
    .spinner {
        transition: width 0.15s ease;
        display: inline-block;
        overflow: hidden;
        width: 0;
    }

    .htmx-request.spinner {
        width: 30px;
    }
</style>
{{end}}

{{define "script"}}
<script src="/public/js/response-targets.js"></script>
<script>
    function clearForm(event, formElement) {
        // clear form if success
        if (event.detail.xhr.status === 200) {
            formElement.reset();
        } else {

        }

        // clear the success text after 5 sec
        setTimeout(function () {
            const element = document.getElementById("server-status");
            if (element) {
                element.textContent = '';
            }
        }, 5000);
    }

    function fetchUrlParams() {
        const urlParameters = new URLSearchParams(window.location.search);
        console.log(urlParameters)
        return {
            userId: urlParameters.get('userId') || '',
            email: urlParameters.get('email') || '',
            type: urlParameters.get('type') || 'Feedback',
        };
    }

    Alpine.data('screenshots', () => ({
        types: ["App Issue", "Premium Issue", "Feedback", "Feature Request", "Data Export", "Other"],
        urlParams: fetchUrlParams(),

        typeCell(type) {
            return `<button type="button" x-on:click="urlParams.type = type" x-bind:class="urlParams.type == type ? 'btn-primary' : 'btn-default'" class="btn w-[100%]" x-text="type"></button>`
        },
    }));
</script>
{{end}}

{{define "content"}}

<div hx-ext="response-targets" x-data="screenshots" class="mx-auto max-w-2xl space-y-2">
    <h2 class="grid place-items-center text-2xl font-medium">We Would Love to Hear From You</h2>
    <div class="bg-cell rounded-xl p-2">
        <form hx-post="/events/send-support-form" hx-on="htmx:afterRequest: clearForm(event, this)"
            hx-target="#server-status" hx-target-400="#server-status" hx-swap="innerHTML" hx-indicator="#spinner"
            class="space-y-2">
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">Email*</span>
                </label>
                <input type="email" placeholder="jake@workoutnotepad.co" name="email"
                    class="input input-bordered input-primary w-full" />
                <label class="label">
                    <span class="label-text-alt">This is used to ensure a response to you.</span>
                </label>
            </div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">Name</span>
                </label>
                <input type="text" placeholder="Jake" name="name" class="input input-bordered w-full" />
                <label class="label">
                    <span class="label-text-alt"></span>
                </label>
            </div>
            <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-2 pt-4">
                <template x-for="type in types">
                    <div x-html="typeCell(type)"></div>
                </template>
                <input type="hidden" name="type" x-model="urlParams.type">
                <input type="hidden" name="userId" x-model="urlParams.userId">
            </div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">Message*</span>
                </label>
                <input type="text" placeholder="I love this app!" name="message"
                    class="input input-bordered input-primary w-full" />
                <label class="label">
                    <span class="label-text-alt"></span>
                </label>
            </div>
            <div class="w-[100%]">
                <button class="btn btn-primary w-[100%] py-2">
                    <div class="flex items-center">
                        <span class="submit">Submit</span>
                        <img id="spinner" class="spinner object-scale-down h-[20px]" src="/public/svg/spinner.svg">
                    </div>
                </button>
            </div>
        </form>
    </div>
    <div class="grid place-items-center">
        <div id="server-status"></div>
    </div>
</div>

{{end}}