<div x-data="{ headers: {{.Headers}} }" class="">
    <template x-for="(h1, _) in headers">
        <div>
            <a x-bind:href="'#' + h1.slug" class="text-lg font-medium text-txt-200 hover:text-main"
                x-text="''+h1.title"></a>
            <template x-if="h1.children">
                <template x-for="(h2, _) in h1.children">
                    <div>
                        <a x-bind:href="'#' + h2.slug" class="text-txt-400 hover:text-main" x-text="'- '+h2.title"></a>
                        <template x-if="h2.children">
                            <template x-for="(h3, _) in h2.children">
                                <div>
                                    <a x-bind:href="'#' + h3.slug" class="text-txt-400 hover:text-main"
                                        x-text="'-- '+h3.title"></a>
                                    <template x-if="h3.children">
                                        <template x-for="(h4, _) in h3.children">
                                            <div>
                                                <a x-bind:href="'#' + h4.slug" class="text-txt-500 hover:text-main"
                                                    x-text="'--- '+h4.title"></a>
                                            </div>
                                        </template>
                                    </template>
                                </div>
                            </template>
                        </template>
                    </div>
                </template>
            </template>
        </div>
    </template>
</div>